{% extends"layout_10.html" %}
{% block content %}

    <div class="opening_tagline">
      <div class="card_opener description">
        <h2>WELCOME TO KATWA & KEMBOY ADVOCATES</h2>
        <p>
          Katwa & Kemboy is a full service law firm dedicated to providing high
          quality, efficient and effective solutions for our clients.The firm
          currently has two principle partners who were trained and practiced
          with some of the most reputable firms in Kenya. The firm also employs
          a number of highly skilled associates.
        </p>
        <a href="/appointment">
          <button class="card_opener appointment">BOOK AN APPOINTMENT</button>
        </a>
      </div>
    </div>

{% endblock %}
